<div class="container-fluid">
	<div class="row">
		  <div class="col-12">
			   <img src="assets/images/test.png" alt="bitmap1.png" class="img-fluid">
			   <div class="centered">
				   <div style="display: flex;column-gap: 1.5vw;">
					   <a href="#" class="previous">&#8249; Previous</a>
					   <p>"Loram ipsum dollar amet,consectetuer adipiscing elit,sed diam nonummy nibh evismod tincidunt ut loareet dolare magna aliqquam erat volupot"</p>
					   <a href="#" class="next">Next &#8250;</a>
				   </div>
				   <h2> <span>KATHLIN SHARON -</span>FRANC</h2>
				   <div class="vl"></div>
				   <p>Reviews</p>
				   <div>
				
			 </div>
			 
			</div>
		  </div>
	</div>
 </div>
 