<div class="container-fluid " style="background-color: #E9E9E9; padding:1vw 3vw 1vw 3vw;">
          
   <div class="row d-flex flex-column justify-content-center align-items-center">
      <!--fieldset ended-->
       <div class="col-9">
              <div class="row" style="display: flex;justify-content: center;">
                  <div class="col-1"> <hr class="hrr"/> </div>
                    <div class="col-5">
                       <fieldset class="scheduler-border">
                          <legend align="center" class="scheduler-border">SPECIAL OFFERS</legend>
                            <div class="control-group">
                                <div class="controls">
                                  <h1>NEW ARRIVALS</h1>
                                  <p>Loram ipsum dollar amet,consectetuer adipiscing</p>
                                </div>
                           </div>
                       </fieldset>
                    </div>
                  <div class="col-1"> <hr class="hrr"/> </div>
              </div>   
       </div>
       <!--fielsset ended-->
      
   
       <!--new arrival table-->
       <div class="col-10" style="margin: 1vw;">
           <div class="row">
              <!--new arrival left table-->
              <div class="col-6">
                 <!--1st row-->
                 <div class="row">
                    <div class="col-12 sword-discount " >
                          <img src="assets/images/bitmap1.png" alt="bitmap1.png" class="img-fluid bitmap">
                          <div class="centered d-flex  align-items-center flex-column">
                              <h4>FOR  ALL TOP SWORDS</h4>
                              <h1>DISCOUNT 50%</h1>
                              <button routerLink="/shoppage">SHOP NOW</button>
                          </div>
                    </div>
                  </div>
                <!--2nd row-->
                <div class="row d-flex">
                    <div class="col box hover15" style="margin-right: 1vw; " *ngIf="rows[2]" (mouseover)="active = 2"  (mouseout)="active = '' " >
                    
                     <div class="img-hover-zoom img-hover-zoom--point-zoom" [routerLink]="['/productdetailspage', rows[2].url_path]">
                        <img src={{imageurl}}{{rows[2].thumbnail}} alt="swordskingdom" class="img-fluid arrow" >
                      </div>

                     <div class="sale" *ngIf="rows[2].sale == 'yes'">
                       <p>SALE</p>
                     </div>
                  
                      
                       <div class="outofstock" *ngIf="rows[2].visibility == 0">
                        <p>OUT OF STOCK</p>
                       </div>

                       <div class="sword-details">

                        <div class="d-flex" style="margin: .5vw;margin-bottom: 1.3vw;">
                           <p class="shipping" *ngIf="rows[2].sale == 'yes'" style="padding:0 .3vw;">Sale <Span>|</Span></p>
                           <p class="shipping" *ngIf="rows[2].shipping == 0" style="color: #3B7A57;font-weight: bold;">Free Shipping</p>
                        </div>

                       <div class="starrating">
                        <ngb-rating style="margin-top: 0;margin-bottom: .2vw;" [max]="5" [(rate)]=rows[2].rating [readonly]="true"></ngb-rating>
                       </div>

                       <h4 class="product-name label" *ngIf="rows[2]" [routerLink]="['/productdetailspage', rows[2].url_path]"> {{rows[2].thumbnail_label}} </h4>
                       
                       <p class="price" *ngIf="rows[2] && rows[2].sale=='no'" > {{rows[2].price | currencyformat}}</p>
                       <p class="price" *ngIf="rows[2] && rows[2].sale=='yes' "> <del> {{rows[2].price | currencyformat}} </del> {{rows[2].price-((rows[2].sale_percent/100)*rows[2].price) | currencyformat}}</p>
                       
                       <div class="container" >
                          <div class="row d-flex justify-content-center align-items-center" >
                              <div class="class-icon d-flex justify-content-center align-items-center" (click)="addwishlist(rows[2].thumbnail_label, rows[2].price ,rows[2].thumbnail)" (mouseover)="active = 2"  (mouseout)="active = '' "  [ngClass]="active === 2 ? 'myCssClass' : '' " >
                                 <i  class="fa fa-heart" aria-hidden="true"></i>
                              </div>
                              <div  (mouseover)="active = 2"  (mouseout)="active = '' " (click)="adduser(rows[2].thumbnail_label, rows[2].price-((rows[2].sale_percent/100)*rows[2].price) ,rows[2].thumbnail,rows[2].visibility)" class="class-addtocart d-flex justify-content-center align-items-center">
                                 <p>add to cart</p>
                              </div>
                              <div (click)="showquickview1(rows[2].thumbnail_label)"  class="class-icon d-flex justify-content-center align-items-center" (mouseover)="active = 2"  (mouseout)="active = '' "  [ngClass]="active === 2 ? 'myCssClass' : '' ">
                                 <i  class="fa fa-eye" aria-hidden="true"></i>
                              </div>  
                          </div>
                       </div>
                       
                       </div>                       
                    </div>
                    <div class="col box " *ngIf="rows[3]" (mouseover)="active = 3"  (mouseout)="active = '' " >
                       
                       <div class="img-hover-zoom img-hover-zoom--point-zoom" [routerLink]="['/productdetailspage', rows[3].url_path]">
                        <img src={{imageurl}}{{rows[3].thumbnail}} alt="swordskingdom" class="img-fluid arrow">
                       </div>

                       <div class="sale1" *ngIf="rows[3].sale == 'yes'" >
                         <p>SALE</p>
                       </div>

                       <div class="outofstock" *ngIf="rows[3].visibility == 0">
                        <p>OUT OF STOCK</p>
                       </div>

                       <div class="sword-details">
                        
                        <div class="d-flex" style="margin: .5vw;margin-bottom: 1.3vw;">
                           <p class="shipping" *ngIf="rows[3].sale == 'yes'" style="padding:0 .3vw;">Sale <Span>|</Span></p>
                           <p class="shipping" *ngIf="rows[3].shipping == 0"  style="color: #71ACC4;font-weight: bold;">Free Shipping</p>
                        </div>

                        <div class="starrating">
                           <ngb-rating style="margin-top: 0;margin-bottom: .2vw;" [max]="5" [(rate)]=rows[3].rating [readonly]="true"></ngb-rating>
                        </div>

                       <h3 *ngIf="rows[3]" class="label" [routerLink]="['/productdetailspage', rows[3].url_path]"> {{rows[3].thumbnail_label}} </h3>
                       
                       <p class="price" *ngIf="rows[3] && rows[3].sale=='no'" > {{rows[3].price | currencyformat}}</p>
                       <p class="price" *ngIf="rows[3] && rows[3].sale=='yes' "> <del> {{rows[3].price | currencyformat}} </del> {{rows[3].price-((rows[3].sale_percent/100)*rows[3].price) | currencyformat }}</p>
                     
                       
                       <div class="container" >
                        <div class="row d-flex justify-content-center align-items-center" >
                            <div class="class-icon d-flex justify-content-center align-items-center" (click)="addwishlist(rows[3].thumbnail_label, rows[3].price ,rows[3].thumbnail)" (mouseover)="active = 3"  (mouseout)="active = '' "  [ngClass]="active === 3 ? 'myCssClass' : '' ">
                               <i  class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                            <div (mouseover)="active = 3"  (mouseout)="active = '' " (click)="adduser(rows[3].thumbnail_label, rows[3].price-((rows[3].sale_percent/100)*rows[3].price) ,rows[3].thumbnail,rows[3].visibility)" class="class-addtocart d-flex justify-content-center align-items-center">
                               <p>add to cart</p>
                            </div>
                            <div (click)="showquickview1(rows[3].thumbnail_label)"  class="class-icon d-flex justify-content-center align-items-center" (mouseover)="active = 3"  (mouseout)="active = '' "  [ngClass]="active === 3 ? 'myCssClass' : '' ">
                               <i  class="fa fa-eye" aria-hidden="true"></i>
                            </div>  
                        </div>
                     </div>

                     </div>



                    </div>
                 </div>
                </div>
              <!--new arrival right table-->
              <div class="col-6">
                <!--1st row-->
                <div class="row">
                  <div class="col box" style="margin-right: 1vw; " *ngIf="rows[0]" (mouseover)="active = 0"  (mouseout)="active = '' ">
                     
                     <div class="img-hover-zoom img-hover-zoom--point-zoom" [routerLink]="['/productdetailspage', rows[0].url_path]">
                        <img src={{imageurl}}{{rows[0].thumbnail}} alt="swordskingdom" class="img-fluid arrow">
                     </div>


                     <div class="sale" *ngIf="rows[0].sale == 'yes'">
                        <p style="color: white;"> -{{rows[0].sale_percent}}%</p>
                     </div>

                     <!-- <div class="freeshipping d-flex">
                        <p style="border-right: .1vw solid black;padding-right: .3vw;">SALE</p>
                        <p style="padding-left:.3vw">free shipping</p>
                       </div> -->
                     
                     <div class="outofstock" *ngIf="rows[0].visibility == 0">
                        <p>OUT OF STOCK</p>
                     </div>
                     
                     <div class="sword-details">
                     
                     <div class="d-flex" style="margin: .5vw;margin-bottom: 1.3vw;">
                        <p class="shipping" *ngIf="rows[0].sale == 'yes'" style="padding: 0 .3vw;color: #8DD7F5;font-weight: bold;">Sale <Span>|</Span></p>
                        <p class="shipping" *ngIf="rows[0].shipping == 0" style="color: #8DD7F5;font-weight: bold;" >Free Shipping</p>
                     </div>
                       

                     <div class="starrating">
                        <ngb-rating  [max]="5" [(rate)]=rows[0].rating [readonly]="true"></ngb-rating>
                     </div>

                     <h3 class="product-name label" *ngIf="rows[0]" [routerLink]="['/productdetailspage', rows[0].url_path]"> {{rows[0].thumbnail_label}} </h3>
                     
                     <p class="price" *ngIf="rows[0] && rows[0].sale=='no'" > {{rows[0].price | currencyformat}}</p>
                     <p class="price" *ngIf="rows[0] && rows[0].sale=='yes' "> <del> {{rows[0].price | currencyformat }} </del> <b> {{rows[0].price-((rows[0].sale_percent/100)*rows[0].price) | currencyformat }} </b> </p>
                     
                     <div class="container" >
                        <div class="row d-flex justify-content-center align-items-center" >
                            <div class="class-icon d-flex justify-content-center align-items-center" (click)="addwishlist(rows[0].thumbnail_label, rows[0].price ,rows[0].thumbnail)"  (mouseover)="active = 0"  (mouseout)="active = '' "  [ngClass]="active === 0 ? 'myCssClass' : '' ">
                               <i  class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                            <div (click)="adduser(rows[0].thumbnail_label, rows[0].price-((rows[0].sale_percent/100)*rows[0].price) ,rows[0].thumbnail,rows[0].visibility)" class="class-addtocart d-flex justify-content-center align-items-center">
                               <p>add to cart</p>
                            </div>
                            <div (click)="showquickview1(rows[0].thumbnail_label)"  class="class-icon d-flex justify-content-center align-items-center"  (mouseover)="active = 0"  (mouseout)="active = '' "  [ngClass]="active === 0 ? 'myCssClass' : '' ">
                               <i  class="fa fa-eye" aria-hidden="true"></i>
                            </div>  
                        </div>
                     </div>
                     
                     </div>                       
                  </div>
                  <div class="col box" *ngIf="rows[1]" (mouseover)="active = 1"  (mouseout)="active = '' " >
                     <div class="img-hover-zoom img-hover-zoom--point-zoom" [routerLink]="['/productdetailspage', rows[1].url_path]">
                        <img src={{imageurl}}{{rows[1].thumbnail}} alt="swordskingdom" class="img-fluid arrow">
                     </div>


                     <div class="sale1" *ngIf="rows[1].sale == 'yes'" >
                        <p>SALE</p>
                     </div>

                     <div class="outofstock" *ngIf="rows[1].visibility == 0">
                        <p>OUT OF STOCK </p>
                     </div>

                     <div class="sword-details">

                     <div class="d-flex" style="margin: .5vw;margin-bottom: 1.3vw;">
                        <p class="shipping" *ngIf="rows[1].sale == 'yes'" style="padding:0 .3vw;color: rgb(1, 65, 28);">Sale <Span>|</Span></p>
                        <p class="shipping" *ngIf="rows[1].shipping == 0" style="color:#26782C;font-weight: bold;">Free Shipping</p>
                     </div>
                     
                     <div class="starrating">
                        <ngb-rating style="margin-top: 0;margin-bottom: .2vw;" [max]="5" [(rate)]=rows[1].rating [readonly]="true"></ngb-rating>
                     </div>

                     <h3 *ngIf="rows[1]" class="label" [routerLink]="['/productdetailspage', rows[1].url_path]" > {{rows[1].thumbnail_label}}</h3>

                     <p class="price" *ngIf="rows[1] && rows[1].sale=='no'" >{{rows[1].price | currencyformat }}</p>
                     <p class="price" *ngIf="rows[1] && rows[1].sale=='yes' "> <del> {{rows[1].price | currencyformat}} </del> {{rows[1].price-((rows[1].sale_percent/100)*rows[1].price) | currencyformat}}</p>
                     
                     <div class="container" >
                      <div class="row d-flex justify-content-center align-items-center" >
                           <div class="class-icon d-flex justify-content-center align-items-center" (click)="addwishlist(rows[1].thumbnail_label, rows[1].price ,rows[1].thumbnail)" (mouseover)="active = 1"  (mouseout)="active = '' "  [ngClass]="active === 1 ? 'myCssClass' : '' ">
                              <i  class="fa fa-heart" aria-hidden="true"></i>
                           </div>
                           <div (click)="adduser(rows[1].thumbnail_label, rows[1].price-((rows[1].sale_percent/100)*rows[1].price) ,rows[1].thumbnail,rows[1].visibility)" class="class-addtocart d-flex justify-content-center align-items-center">
                              <p>add to cart</p>
                           </div>
                           <div (click)="showquickview1(rows[1].url_path)"  class="class-icon d-flex justify-content-center align-items-center" (mouseover)="active = 1"  (mouseout)="active = '' "  [ngClass]="active === 1 ? 'myCssClass' : '' ">
                              <i  class="fa fa-eye" aria-hidden="true"></i>
                           </div> 
                      </div>
                   </div>

                   </div>

                  </div>

                <!--2nd row-->
                 <div class="row" style="margin-left: 0;margin-right: 0;">
                    <div class="col-12 sword-discount" >
                          <img src="assets/images/bitmap2.png" alt="bitmap1.png" class="img-fluid bitmap">
                           <div class="centered d-flex  align-items-center flex-column">
                              <h4>FOR  ALL TOP SWORDS</h4>
                              <h1>DISCOUNT 50%</h1>
                              <button routerLink="/shoppage">SHOP NOW</button>
                          </div>
                    </div>
                  </div>
                
              </div>
           </div>
       </div>
   </div>        
</div>

<div class="search-content1 "  style="display: none">
   <span class="closebtn" (click)="closeSearch()" title="Close Overlay">×</span>
   <div class="container-fluid  d-flex justify-content-start align-items-center" style="top:50%;bottom: 50%;position: absolute">
         
      <div *ngIf="showloadingspinner2" class="spinner1"></div>
      
      <div class="container-fluid" style="margin-bottom: 10vh;margin-top: 6vh ;padding-right: 3vw;padding-left: 3vw;">
         <div class="row d-flex justify-content-center">
           <!--gallery column-->
           <div class="col-3 div1" style="height:20vw;">
              <div class="gallery d-flex">
                <div class="col-2">
                   <div id="slideshow" class="gallery-smallimg d-flex flex-column">
                     <button class="prev"> pre </button>
                      <div>
                          <a >
                            <figure>
                               <img src={{imageurl}}{{image1}} data-index="1" alt=""> 
                            </figure>
                          </a>
                          <a >
                           <figure>
                              <img src={{imageurl}}{{image2}} data-index="2" alt=""> 
                           </figure>
                         </a>
                         <a >
                           <figure>
                              <img src={{imageurl}}{{image3}} data-index="3" alt=""> 
                           </figure>
                         </a>
                         <a >
                           <figure>
                              <img src={{imageurl}}{{image4}} data-index="4" alt=""> 
                           </figure>
                         </a>
                         <a >
                           <figure>
                              <img src={{imageurl}}{{image5}} data-index="5" alt=""> 
                           </figure>
                         </a>
                      </div>
                      <button  class="next" >  next </button>
                   </div>
                </div>
                <div class="col-10 gallery-largeimg">
                  <img id="displayed-img" alt='' class="img-fluid" src={{imageurl}}{{image1}} style="height:20vw;width: 100% ">
                </div>
              </div>
           </div>
           <!--gallery column ended-->
           <!--second column-->
           <div class="col-6" style="height: 20vw;">
              <div class="product-details">
                  <!--div1-->
                  <div class="product-details-header">
                      <p>ELEGENT WATCHES</p>
                      <h2 class="product-name">{{name}}</h2>
                  </div>
                  <!--div2-->
                  <div class="rating">
                      
                  <div style="font-size: 1vw; color: #a81000;">
                     <ngb-rating  [max]="5" [(rate)]=rating [readonly]="true"></ngb-rating>
                  </div>


                  </div>
                  <!--div3-->
                  <div class="reviews">
                      <button data-toggle="modal" data-target="#mymodal">WRITE REVIEW</button>
                          <div class="modal" id="mymodal">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h4>WRITE REVIEW</h4>
                                          <button type="button" class="close" data-dismiss="modal"> &times;</button>
                                      </div>
                                      <div class="modal-body">
                                        <form>
                                          <input type="text" name="modal-input">
                                          <button>done</button>
                                        </form>
                                      </div>
                                    </div>
                                </div>
                            </div>
                      <button> <i class="far fa-heart" style="margin-right: .2vw"></i>ADD TO WISTLIST</button>
                  </div>
                  <!--div4-->
                  <div class="product-description">
                      <p>{{short_description}}</p>                   
                    </div>
                  </div>
             </div>
           <!--second column ended-->
          <!--third column-->
          <!-- <div class="col-3" style="height:20vw;background-color: white;">
             <div class="cart div">
                      <h3>AVAILABILITY : <span  *ngIf="visibility == 1">INSTOCK</span> <span *ngIf="visibility == 0">OUT OF STOCK</span></h3>
                      <hr/>
                      
                      <div *ngIf="sale == 'yes'">
                        <p> <del>{{price}}</del>  <small>you saved <span>${{(sale_percent/100)*price}}</span> </small> </p>
                        <h1 class="product-price" type="text" > {{price-((sale_percent/100)*price)}}</h1>
                     </div>
                     <div *ngIf="sale == 'no'">
                       <h1 class="product-price" type="text" > {{price}}</h1>
                     </div>
                        
                      <label for="sharpen">Sharpen:</label>
                          <br>
                          <select name="sharpen" id="cars" class="select-btn">
                              <option value="yes">YES</option>
                              <option value="no">NO</option>
                          </select>
                          <br>
                          <div *ngIf="sale == 'yes'" > <button (click)="adduser(name,price-(sale_percent/100)*price,image1,visibility)" class="buynow">BUY IT NOW</button></div>
                          <div *ngIf="sale == 'no'"> <button (click)="adduser(name,price,image1,visibility)" class="buynow">BUY IT NOW</button> </div>
                
                  </div>
      
          </div> -->
          <!--third column ended-->
         </div>
      </div>
      
      
      



   </div>
 </div>
 