      <FOOTER>
    <!-- NINETH TABLE (#a81000 CONTAINER) -->
    <div class="container-fluid box" style="background-color: #222222">
       <div class="row justify-content-center">
          <!--FIRST COLUMN-->
          <div class="col-5 col-md-3 col-lg-3">
            <div class="footer-col">
               <h3 class="footer-tittle" style="font-size: 1.7vw">SWORDSKINGDOM </h3>
               <p class="footer-text" style="margin-top: 1vw">Magically avocative notes <br> immediately awaken your deepest </p>
                <div class="footer-text" style="margin-top: 1.5vw;">
                  <i class="fa fa-map-marker" aria-hidden="true"> 168 Lost Angles</i><br>
                  <i class="fa fa-envelope" aria-hidden="true"> info@watches.com</i><br>
                  <i class="fa fa-phone-square" aria-hidden="true"> Call:900 100 2345</i> 
                </div>
            </div>
          </div>
          <!--SECOND COLUMN-->
          <div class="col-5 col-md-2 col-lg-2">
             <div class="footer-col">
               <h3 class="footer-tittle">::SITE MAP </h3>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i><a class="footeranchor" href=""> Home </a> </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i> <a class="footeranchor" href="/shoppage"> Our Shop </a> </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i> <a class="footeranchor" href="/aboutpage"> About Us </a> </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Blog </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i> <a class="footeranchor" href="/clientauth"> Your Account </a> </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Our Guarantee </p>
             </div>
         </div>
         <!--THIRD COLUMN-->
          <div class="col-5 col-md-2 col-lg-2">
             <div class="footer-col">
               <h3 class="footer-tittle"><i class="fas fa-cog"></i> OURCOMPANY </h3>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Shipping Policy </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>International Shipping </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Afflities </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Our Sponsors </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Terms and Conditions </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Cash on Delivery </p>
             </div>
          </div>
          <!--FOURTH COLUMN-->
          <div class="col-5 col-md-2 col-lg-2 d-flex flex-column justify-content-center ">
            <div class="footer-col ">

               <div>
                  <img src="https://cdn11.bigcommerce.com/s-3cqxcmkgmq/stencil/85b9f660-f03b-0138-2db6-0242ac11000f/e/e34f5a30-2be6-0139-7b19-0242ac110007/img/ssl-logo.png" class="img-fluid image1" style="height: 4vw;" />
               </div>
               <div class="d-flex">
                  <img src="https://cdn11.bigcommerce.com/s-3cqxcmkgmq/stencil/85b9f660-f03b-0138-2db6-0242ac11000f/e/e34f5a30-2be6-0139-7b19-0242ac110007/img/fedex-logo.png" class="img-fluid image1" />
                  <img src="https://cdn11.bigcommerce.com/s-3cqxcmkgmq/stencil/85b9f660-f03b-0138-2db6-0242ac11000f/e/e34f5a30-2be6-0139-7b19-0242ac110007/img/ups-logo.png" class="img-fluid image" />
               </div>
               <div class="d-flex justify-content-start">
                  <img src="https://cdn11.bigcommerce.com/s-3cqxcmkgmq/stencil/85b9f660-f03b-0138-2db6-0242ac11000f/e/e34f5a30-2be6-0139-7b19-0242ac110007/img/visa.png" class="img-fluid image" />
                  <img src="https://cdn11.bigcommerce.com/s-3cqxcmkgmq/stencil/85b9f660-f03b-0138-2db6-0242ac11000f/e/e34f5a30-2be6-0139-7b19-0242ac110007/img/mastercard.png" class="img-fluid image" />
                  <img src="https://cdn11.bigcommerce.com/s-3cqxcmkgmq/stencil/85b9f660-f03b-0138-2db6-0242ac11000f/e/e34f5a30-2be6-0139-7b19-0242ac110007/img/discover.png" class="img-fluid image" />
                  <img src="https://cdn11.bigcommerce.com/s-3cqxcmkgmq/stencil/85b9f660-f03b-0138-2db6-0242ac11000f/e/e34f5a30-2be6-0139-7b19-0242ac110007/img/american-express.png" class="img-fluid image" />
               </div>

             </div>
         </div>
        
      </div>
    
    </div> 
    <div class="container-fluid copyright" style="background-color: #1B1B1B;text-align: center;">
     <p> Copyright fillcraft.com © 2020 All Right Reserved</p>
    </div>
 </FOOTER>