<div class="container">
	<div class="row description-box">
        					<div class="col-4" >
        						<img src="assets/images/productdetails.png" alt="description image" class="img-fluid">
        					</div>
        					<div class="col-8 description-box-p-tag" style="padding-left: 1vw;">
								<p> {{description}} </p>				
        					</div>
        				</div>
        				<div class="row description-box-p-tag" style="padding-top: 1vw;">
        					<p>Loram ipsum dollar amet,consectetuer adipiscing elit,sed diam nonummy nibh evismod tincidunt ut loareet dolare magna aliqquam erat volupot Loram ipsum dollar amet,consectetuer adipiscing elit,sed diam nonummy nibh evismod tincidunt ut loareet dolare magna aliqquam erat volupot Loram ipsum dollar amet,consectetuer adipiscing elit,sed diam nonummy nibh evismod tincidunt ut loareet dolare</p>
        				</div>
        				<div class="row description-box-footer">
        					 <h3>ELEGENT COLORS</h3>
        					 <div class="row d-flex">
        					 	 <div class="col-5">
        					 	 	<p> {{short_description}} </p>
        					 	 	 <ul style="margin-top: 2vw;">
                                        <li><i class="fa fa-check" aria-hidden="true"></i>PURE PLATINUM</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i>GOLD</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i>PRECIOUSSTONE</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i>STAINLESSSTEEL</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i>CHERACOM</li>
                                    </ul>
        					 	 </div>
        					 	 <div class="col-7">
        					 	     <img src="assets/images/product-description-footer.png" alt="description image" class="img-fluid">	 
    					 	 </div>
        					 </div>
        				</div>
</div>
