<app-header></app-header>
<section style="background-color: #E9E9E9; padding-top:2vw; padding-bottom: 6vw; ">
  <section class="divlineheight">
            <div class="container-fluid" style="padding-left:3.5vw ; padding-right: 3.5vw;">
              <div class="row d-flex" style="width:100%;background-color: #F5F5F5;padding-top: 1.2vw;padding-bottom: 1.2vw;">
                
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <form action="">
                            <label for="cars">SORT BY</label>
                            <select name="category" id="category1" class="select-btn" (change)="onChangesort($event.target.value)">
                                 <option value="name">Product name</option>
                                 <option value="price">Product price</option>
                             </select>
                          </form>
                  </div>
                
                <div class="col-3 d-flex justify-content-center align-items-center">
                   <form action="">
                            <label for="cars">SHOW PAGE</label>
                            <select name="category" id="category2" class="select-btn" (change)="onChange($event.target.value)">
                                 <option value="8">8 items</option>
                                 <option value="12">12 items</option>
                                 <option value="16">16 items</option>
                             </select>
                          </form>
                </div>
                
                <div class="col-3 d-flex justify-content-center align-items-center" >
                   <form action="">
                        <label for="cars">SORT BY CATGORY</label>
                        <select name="category" id="category3" class="select-btn" (change)="onChangecategory($event.target.value)">
                            <option  value="sword">Sword</option>
                            <option value="Axe">Axe</option>
                            <option value="Knife">knife</option>
                        </select>
                    </form>
                </div>
  
                <div class="col-3 d-flex justify-content-center align-items-center" style="padding: 0;">
                <!--list grid icon-->
                  <div id="listgrid-container"  style="display: flex;">
                    <div class="buttons">
                        <label for="list">SELECT VIEW: </label>
                        <button (click)="layout = 'list'" class="list"><i class="fa fa-list" aria-hidden="true" style="color: grey"></i></button>
                        <button (click)="layout = 'grid'" class="grid"><i class="fa fa-th" aria-hidden="true" style="color: grey"></i></button>
                    </div>
                  </div>
                </div>
                <!--list grid icon ended-->
              </div>
            </div>
          </section>
  
  <div class="container-fluid " style="margin-top: 1.3vw;width: 100%;padding-right: 3.5vw;padding-left: 3.5vw;">
    <div class="row d-flex align-self-center ">
      <div class="col-3 d-flex flex-column">
        <div class="row">
          <div class="col-12" style="padding-right: 1vw;padding-left: 0vw;">
            
            <div class="" style="background-color: white;">
              <div class="btn text-center">
                 <h3>Custom Accordian</h3> 
              </div>    
              <div class="row">
          
                    <div class="col-12">
                      
                      <div *ngFor="let a of category;let j = index">
                          <div class="accordian" (click)="active1 = j"> <i class="fa fa1 fa-angle-right"></i> {{a.name}}</div>
                          <div *ngFor="let b of subcategory" style="padding:0vw 1vw;margin: 0vw;" class="white">
                              <div *ngIf="a.id == b.parentid" class="hidden"  [ngClass]="active1 === j ? 'show' : '' "> <p class="pclass" (click)=print(a.name,b.name)>{{b.name}}</p> </div>
                          </div>
                      </div>
                      
                    </div>
                  </div>          
              </div>
           
            <!-- <app-shop-accordian></app-shop-accordian> -->
            <!-- <app-shop-slider></app-shop-slider> -->
            <div class="container-fluid ">
              <div class="row">
                <div class="col-12">
                  <div class="slider-head">
                    FILTER BY PRICE 
                   </div>
                   <div class="range-slider divlineheight" >
                     <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
                   </div>
                   <div class="slider-footer" (click)="getupdatesearchresult(1)">
                     UPDATESEARCHRESULT
                   </div>
                </div>
              </div>
            </div>


            <div style="margin-top: 2vw;">
              <app-hot-sales></app-hot-sales>
            </div>

          </div>
        </div>
      </div>
      <div class="col-9" style="padding: 0;margin: 0" >
       
        <div class="row d-flex justify-content-center" *ngIf="slideData.length==0 && show=='yes'">
              NO PRODUCT FOUND
        </div>

        <div class="row d-flex flex-column">
            
          <ul *ngIf="layout == 'grid'"   class="grid"> 
             <li class="d-flex col-6  col-md-3 col-lg-3"  *ngFor="let slide of slideData | paginate: { itemsPerPage: limit, currentPage: p, totalItems: total } ;let i = index ">
                <div class="d-flex flex-column div1" (mouseover)="active = i" (mouseout)="active = '' ">
                    
                  <div class="box">
                      <!-- <img src={{imageurl}}{{slide.thumbnail}} alt={{slide.thumbnail}} [routerLink]="['/productdetailspage', slide.url_path]" class="img-fluid product-img arrow">
                   -->
                      <div class="img-hover-zoom img-hover-zoom--point-zoom" [routerLink]="['/productdetailspage', slide.url_path]" class="img-fluid product-img arrow">
                        <img src={{imageurl}}{{slide.thumbnail}} alt={{slide.thumbnail}}>
                      </div>


                      <div class="outofstock" *ngIf="slide.visibility == 0" >
                          <p>OUT OF STOCK</p>
                      </div>

                      <div class="sale" *ngIf="slide.sale == 'yes'">
                          <p> -{{slide.sale_percent}}% </p>
                      </div>
                  </div>
                  <div class="d-flex flex-column justify-content-start align-items-center details">
                    <div class="d-flex" style="margin: 0vw;width: 100%;">
                      <p class="shipping" *ngIf="slide.sale == 'yes'" style="padding:0 0vw;padding-left: .5vw;">Sale <Span>|</Span></p>
                      <p class="shipping" *ngIf="slide.shipping == 0" style="padding-left: .5vw;" >Free Shipping</p>
                    </div>
                    <div class="starrating" >
                      <ngb-rating  [max]="5" [(rate)]=slide.rating [readonly]="true"></ngb-rating>
                    </div>
                    <h3 class="gridlabel" [routerLink]="['/productdetailspage', slide.url_path]">  {{slide.thumbnail_label}}</h3>
                    <p class="gridprice" *ngIf="slide.sale=='no'" > {{slide.price | currency}}</p>
                    <p class="gridprice" *ngIf="slide.sale=='yes' "> <del> {{slide.price | currency}} </del> <b>{{slide.price-((slide.sale_percent/100)*slide.price) | currency}} </b></p>                       
                  
                    <div class="container" >
                      <div class="row d-flex justify-content-center align-items-center" >
                         
                         <div (mouseover)="active = i" (mouseout)="active = '' " (click)="addwishlist(slide.thumbnail_label,slide.price,slide.thumbnail)" class="class-icon d-flex justify-content-center align-items-center" [ngClass]="active === i ? 'myCssClass' : '' " >
                            <i  class="fa fa-heart" aria-hidden="true"></i>
                         </div>
                          <div (mouseover)="active = i" (mouseout)="active = '' " (click)="adduser(slide.thumbnail_label, slide.price-((slide.sale_percent/100)*slide.price) ,slide.thumbnail,slide.visibility)" class="aa class-addtocart d-flex justify-content-center align-items-center">
                             <p>add to cart</p>
                          </div>
                          <div (mouseover)="active = i" (mouseout)="active = '' " (click)="showquickview(slide.thumbnail_label)" class="class-icon d-flex justify-content-center align-items-center" [ngClass]="active === i ? 'myCssClass' : '' ">
                            <i  class="fa fa-eye" aria-hidden="true"></i>
                         </div>  
                           
                      </div>
                   </div>

                  </div>

             </div>
          </li>  
        </ul>
        <ul *ngIf="layout == 'list'"  class="list" style="width: 100%;">
          <li style="width: 100%;" *ngFor="let slide of slideData ;let i = index">
            <div class="d-flex div1"  (mouseover)="active = i" (mouseout)="active = '' ">
                    
              <div class="box col-4">
                  <img src={{imageurl}}{{slide.thumbnail}} alt={{slide.thumbnail}} [routerLink]="['/productdetailspage', slide.url_path]" class="img-fluid product-img arrow1">
              
                  <div class="outofstock"  *ngIf="slide.visibility == 0">
                      <p>OUT OF STOCK</p>
                  </div>

                  <div class="sale" *ngIf="slide.sale == 'yes'">
                      <p> -{{slide.sale_percent}}% </p>
                  </div>
              </div>
              <div class="col-8 d-flex flex-column justify-content-center align-items-start details" style="padding: 1vw;">
                <div class="d-flex" style="margin: 0vw;width: 100%;">
                  <p class="shipping" style="padding:0 0vw;padding-right: .3vw;">Sale <Span>|</Span></p>
                  <p class="shipping" >Free Shipping</p>
                </div>
                <div class="starrating">
                  <ngb-rating style="margin-top: 0;margin-bottom: .2vw;" [max]="5" [(rate)]=slide.rating [readonly]="true"></ngb-rating>
                </div>
                <h3 class="listlabel" [routerLink]="['/productdetailspage', slide.url_path]">{{slide.thumbnail_label}}</h3>
                <p class="listprice" *ngIf="slide.sale=='no'" > {{slide.price | currency}}</p>
                <p class="listprice" *ngIf="slide.sale=='yes' "> <del> {{slide.price | currency}} </del> <b>{{slide.price-((slide.sale_percent/100)*slide.price) | currency}} </b></p>
                 
                <div class="container" >
                  <div class="row d-flex justify-content-start align-items-center" >
                     
                     <div (mouseover)="active = i" (mouseout)="active = '' " (click)="addwishlist(slide.thumbnail_label,slide.price,slide.thumbnail)" class="class-icon d-flex justify-content-center align-items-center" [ngClass]="active === i ? 'myCssClass' : '' " >
                        <i  class="fa fa-heart" aria-hidden="true"></i>
                     </div>
                      <div (mouseover)="active = i" (mouseout)="active = '' " (click)="adduser(slide.thumbnail_label, slide.price-((slide.sale_percent/100)*slide.price) ,slide.thumbnail,slide.visibility)" class="aa class-addtocart d-flex justify-content-center align-items-center">
                         <p>add to cart</p>
                      </div>
                      <div (mouseover)="active = i" (mouseout)="active = '' " (click)="showquickview(slide.thumbnail_label)" class="class-icon d-flex justify-content-center align-items-center" [ngClass]="active === i ? 'myCssClass' : '' ">
                        <i  class="fa fa-eye" aria-hidden="true"></i>
                     </div>  
                       
                  </div>
               </div>

              </div>

         </div>
         </li>  
         
        </ul>

       
        </div>


         <!-- <div id="listgrid-container">
           <ul class="grid" style="margin:0;padding: 0">
             <li *ngFor="let slide of slideData | paginate: { itemsPerPage: limit, currentPage: p, totalItems: total }">
                   <div class="vi_left d-flex justify-content-end" [routerLink]="['/productdetailspage', slide.thumbnail_label]">
                
                    <img src="http://localhost:3000/images/sku4.png" alt="image" class="img-fluid">

                      <div class="sale" *ngIf="slide.sale == 'yes'">
                      <p style="margin-bottom: 0;">SALE</p>
                     </div>  

                      <div class="outofstock" *ngIf="slide.visibility == 0">
                      <p>OUT OF STOCK</p>
                     </div> 

                   </div>
                   <div class=" vi_right d-flex flex-column justify-content-center ">
                       <div>
                       <span class="fa fa-star checked"></span>
                       <span class="fa fa-star checked"></span>
                       <span class="fa fa-star checked"></span>
                       <span class="fa fa-star"></span>
                       <span class="fa fa-star"></span>
                      </div>
                       <h3 class="title">{{slide.thumbnail_label}}</h3>
                       <p class="content">{{slide.price}}</p>
                   </div>
                   
            </li>
         </ul>
       </div>  -->

       <div class="container-fluid" *ngIf="showloadingspinner" class="spinner"></div>
         

        <div class="container row justify-content-end "  >
          <div class="pagination pagination-sm m-0 float-right">
            <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
        </div>        
          <!-- <div class="pagination">
          <a>&laquo;</a>
          <a>Prev</a>
          <a>1</a>
          <a>2</a>
          <a>3</a>
          <a>Next</a>
          <a >&raquo;</a>
           </div>    -->
        </div>
        </div>
  
    </div>
  </div>
  </section>
  <app-subscribe></app-subscribe>
  <div class="search-content "  style="display: none">
    <span class="closebtn" (click)="closeSearch()" title="Close Overlay">×</span>
    <div class="container-fluid  d-flex justify-content-start align-items-center" style="top:50%;bottom: 50%;position: absolute">
          
       <div *ngIf="showloadingspinner2" class="spinner1"></div>
       
       <div class="container-fluid" style="margin-bottom: 10vh;margin-top: 6vh ;padding-right: 3vw;padding-left: 3vw;">
          <div class="row d-flex justify-content-center">
            <!--gallery column-->
            <div class="col-3 div10" style="height:20vw;">
               <div class="gallery d-flex">
                 <div class="col-2">
                    <div id="slideshow" class="gallery-smallimg d-flex flex-column">
                      <button class="prev"> pre </button>
                       <div>
                           <a >
                             <figure>
                                <img src={{imageurl}}{{image1}} data-index="1" alt=""> 
                             </figure>
                           </a>
                           <a >
                            <figure>
                               <img src={{imageurl}}{{image2}} data-index="2" alt=""> 
                            </figure>
                          </a>
                          <a >
                            <figure>
                               <img src={{imageurl}}{{image3}} data-index="3" alt=""> 
                            </figure>
                          </a>
                          <a >
                            <figure>
                               <img src={{imageurl}}{{image4}} data-index="4" alt=""> 
                            </figure>
                          </a>
                          <a >
                            <figure>
                               <img src={{imageurl}}{{image5}} data-index="5" alt=""> 
                            </figure>
                          </a>
                       </div>
                       <button  class="next">  next </button>
                    </div>
                 </div>
                 <div class="col-10 gallery-largeimg">
                   <img id="displayed-img" alt='' class="img-fluid" src={{imageurl}}{{image1}} style="height:20vw;width: 100% ">
                 </div>
               </div>
            </div>
            <!--gallery column ended-->
            <!--second column-->
            <div class="col-6" style="height: 20vw;">
               <div class="product-details">
                   <!--div1-->
                   <div class="product-details-header">
                       <p>ELEGENT WATCHES</p>
                       <h2 class="product-name">{{name}}</h2>
                   </div>
                   <!--div2-->
                   <div class="rating">
                       
                   <div style="font-size: 1vw; color: #a81000;">
                      <ngb-rating  [max]="5" [(rate)]=rating [readonly]="true"></ngb-rating>
                   </div>
 
 
                   </div>
                   <!--div3-->
                   <div class="reviews">
                       <button data-toggle="modal" data-target="#mymodal">WRITE REVIEW</button>
                           <div class="modal" id="mymodal">
                               <div class="modal-dialog">
                                   <div class="modal-content">
                                       <div class="modal-header">
                                           <h4>WRITE REVIEW</h4>
                                           <button type="button" class="close" data-dismiss="modal"> &times;</button>
                                       </div>
                                       <div class="modal-body">
                                         <form>
                                           <input type="text" name="modal-input">
                                           <button>done</button>
                                         </form>
                                       </div>
                                     </div>
                                 </div>
                             </div>
                       <button> <i class="far fa-heart" style="margin-right: .2vw"></i>ADD TO WISTLIST</button>
                   </div>
                   <!--div4-->
                   <div class="product-description">
                       <p>{{short_description}}</p>                   
                     </div>
                   </div>
              </div>
            <!--second column ended-->
           <!--third column-->
           <!-- <div class="col-3" style="height:20vw;background-color: white;">
              <div class="cart div">
                       <h3>AVAILABILITY : <span  *ngIf="visibility == 1">INSTOCK</span> <span *ngIf="visibility == 0">OUT OF STOCK</span></h3>
                       <hr/>
                       
                       <div *ngIf="sale == 'yes'">
                         <p> <del>{{price}}</del>  <small>you saved <span>${{(sale_percent/100)*price}}</span> </small> </p>
                         <h1 class="product-price" type="text" > {{price-((sale_percent/100)*price)}}</h1>
                      </div>
                      <div *ngIf="sale == 'no'">
                        <h1 class="product-price" type="text" > {{price}}</h1>
                      </div>
                         
                       <label for="sharpen">Sharpen:</label>
                           <br>
                           <select name="sharpen" id="cars" class="select-btn">
                               <option value="yes">YES</option>
                               <option value="no">NO</option>
                           </select>
                           <br>
                           <div *ngIf="sale == 'yes'" > <button (click)="adduser(name,price-(sale_percent/100)*price,image1,visibility)" class="buynow">BUY IT NOW</button></div>
                           <div *ngIf="sale == 'no'"> <button (click)="adduser(name,price,image1,visibility)" class="buynow">BUY IT NOW</button> </div>
                 
                   </div>
       
           </div> -->
           <!--third column ended-->
          </div>
       </div>
       
       
       
 
 
 
    </div>
  </div>
  