    <div class="container-fluid info" style="background-color: #E9E9E9">
       <div class="row d-flex flex-column justify-content-center align-items-center" style="padding: 3.3vw 0vw;">
          <!--first row-->
          <div class="col-9 info1">
               <h2>SOMETHING YOU NEED TO KNOW</h2>
               <p>Loram ipsum dollar amet,consectetuer adipiscing elit,sed diam nonummy nibh evismod tincidunt ut <br>loareet dolare magna aliqquam erat volupot</p>          	
          </div> 
          <!--second row-->
          <div class="col-8">
              <div class="row d-flex">
                 <!--left side-->
              	 <div class="col-6 left-div">
              	 	<div class="row d-flex flex-column">
              	 	    <div class="col-12">
              	 	        <figure>
                                <img src="assets/images/bitmap1.png" class="img-fluid" alt=" ABOUT SETRA" style="height: 25vw; width: 100%" >
                                <div class="top-left"><h1>SWORDS KINGDOM</h1></div>
                                <div class="bottom-right">
                                  <h3> BEST ADVERTISING</h3>
                                  <p>2015-2016</p>
                                </div>
                            </figure>	
              	 	    </div>
              	 	    <div class="col-12">
              	 	    	<div class="row d-flex">
              	 	    	   <div class="col-6 ">
              	 	    	       <figure style="margin-right: 2%;" >
                                      <img src="assets/images/info1.png" class="img-fluid" alt=" ABOUT SETRA" style="width: 100%">
                                      <div class="bottom-left">
                                        <p>BEST PRODUCT <br> AWARD 2015</p>
                                      </div>
                                </figure> 	
              	 	    	   </div>
              	 	    	   <div class="col-6">
              	 	    	       <figure style="margin-left: 2%;">
                                      <img src="assets/images/info2.png" class="img-fluid" alt=" ABOUT SETRA" style="width: 100%">
                                      <div class="bottom-left">
                                        <p>BEST WOMEN <br> DRESS 2015</p>
                                      </div>
                                </figure> 	
              	 	    	   </div>
              	 	    		
              	 	    	</div>
              	 	    </div>
              	 	    
                     </div>
              	 </div>
              	 <!--right side-->
              	 <div class="col-6">
              	    <div class="container">    
                      <div class="row">
                        <div class="col-sm-12" style="padding-left: 4%;">
                           
                              <div class="toggle active-accordian" style="margin-bottom: .38vw;">
                                <h3>
                                  <img style="background-color: #FFCA00;" class="imgacc" src="assets/images/aboutpage-2.png"> 
                                  <a href="#">OUR MISSION </a>
                                  <span class="plus">+</span>
                                </h3>
                               <div style="display: block;">
                                <div class="wpb_text_column wpb_content_element">
                                    <div class="wpb_wrapper">
                                      <p>Lorem Ipsum is simply dummy text of the printing.:</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                
                              <div class="toggle" style="margin-bottom: .38vw;">
                                <h3>
                                   <img class="imgacc" src="assets/images/aboutpage-2.png">
                                   <a href="#">Our Vision </a> 
                                   <span class="plus">+</span>
                                </h3>
                                <div style="display: none;">
                                  <div class="wpb_text_column wpb_content_element">
                                    <div class="wpb_wrapper">
                                      <p>Lorem Ipsum is simply dummy text of the printing.:</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                
                               <div class="toggle" style="margin-bottom: .38vw;">
                                  <h3>
                                    <img class="imgacc" src="assets/images/aboutpage-3.png">
                                    <a href="#">Setra Strategy</a>
                                    <span class="plus">+</span>
                                  </h3>
                                <div style="display: none;">
                                  <div class="wpb_text_column wpb_content_element">
                                    <div class="wpb_wrapper">
                                      <p>Lorem Ipsum is simply dummy text of the printing.:</p>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="toggle" style="margin-bottom: .38vw;">
                                <h3>
                                  <img class="imgacc" src="assets/images/aboutpage-4.png">
                                  <a href="#">Our Moto</a>
                                  <span class="plus">+</span>
                                </h3>
                                <div style="display: none;">
                                  <div class="wpb_text_column wpb_content_element">
                                    <div class="wpb_wrapper">
                                      <p>Lorem Ipsum is simply dummy text of the printing.:</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                
                              <div class="toggle" style="margin-bottom: .38vw;">
                                <h3>
                                  <img class="imgacc" src="assets/images/aboutpage-5.png">
                                  <a href="#">Lorem Ipsumg AdipisvingElit </a>
                                  <span class="plus">+</span>
                                </h3>
                                <div style="display: none;">
                                  <div class="wpb_text_column wpb_content_element">
                                    <div class="wpb_wrapper">
                                      <p>Lorem Ipsum is simply dummy text of the printing.:</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                

                              <div class="toggle">
                                <h3>
                                  <img class="imgacc" src="assets/images/aboutpage-6.png">
                                  <a href="#">Dolar Sit Amet ConsectuererDolorado </a>
                                  <span class="plus">+</span>
                                </h3>
                                <div style="display: none;">
                                  <div class="wpb_text_column wpb_content_element">
                                    <div class="wpb_wrapper">
                                      <p>Lorem Ipsum is simply dummy text of the printing.:</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        
                        </div>      
                      </div>
                    </div>

              	 </div>

              </div>
          </div>    	
       </div>
    	
    </div>



