*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
span{ display:block; width:90%; float:left; height:5px;}
span:nth-child(1){
  width: 10%;
}
  .line{
    width:100%;
    margin-bottom: 1.4vw;
}
.color-1{
    background:#a81000;
    height: 0.2vh;
}
.color-2{
    background:#DDDDDD;
    height: 0.05vh;
}
.yourorders{
    font-size: 1.25vw;  
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(51,51,51,255);
  }
  .inputclass{
    border-radius: 1.2vw;
      height: 2.5vw;
      padding: .5vw;
      font-size: 1vw;
      font-family: 'Lato';
      color: rgba(128,128,128,255);
      margin-top: .4vw;
      margin-bottom: .2vw;
  }
  input:focus {
      box-shadow: none;
      border: .1vw solid #a81000;
  }
  .labelclass{
    font-style: none;
    font-size: 0.8vw;
    color: rgba(51,51,51,255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}
.paddingclass{
  padding: 0 1vw;
}
.label{
  margin-right: .4vw;
  font-size: 1vw;
  color: rgba(51,51,51,255)
}
.orderbutton{
  border: 1px solid #a81000;
  background: #a81000;
  color: rgba(255,255,255,255);
  font-weight: bold;
  font-size: 1.22vw;
  margin-bottom: 2vw;
  padding: .2vw .7vw;
}
.h1heading{
  font-size: 1.25vw;
  font-family: 'Lato';
  color: rgba(51,51,51,255);
}
.ordername{
  font-size: .9vw;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(69,69,69,255);
}  
.orderprice {
  font-size: .9vw;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(148,148,148,255);
  margin-top: 0vw;
  margin-bottom: 0vw;
}
hr{
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.red{
  color: red;
  margin-left: .3vw;
  font-size: 1.2vw;
}
.myCssClass{
  /* visibility: visible; */
  display: block;
}
.jj{
  /* visibility: hidden; */
  display: none;
}
.total{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2vw;
  font-weight: bold;
  color: #a81000;
  padding: 0;
  margin: 0;
  float: right;
}
.red{
  color: red;
  margin-left: .3vw;
  font-size: 1.2vw;
}
.error{
color: #a81000;
font-size: .85vw;
}
.form-control.is-invalid{
border-color: #a81000;
background-image: none;
box-shadow: none;
}
.form-group{
padding: 0vw .2vw .2vw .2vw;
margin-bottom: .5vw;
}