<div class="container-fluid" style="background-color: white;">
    <div class="btn text-center">
       <h3>Custom Accordian</h3> 
    </div>    
    <div class="row">
            <div class="col-12">
                <div class="toggle"><h3><span class="plus"> <i class="fa fa-angle-right"></i> </span><a href="#">DESCRIPTION</a></h3>
                    <div style="display: none;">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <a href="#" class="" data-parent="#menu2">Sub 1</a><hr>
                                <a href="#" class="" data-parent="#menu2">Sub 2</a>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="toggle"><h3><span class="plus"> <i class="fa fa-angle-right"></i> </span><a href="#">PRODUCT REVIEWS </a></h3>
                    <div style="display: none;">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <a href="#" class="" data-parent="#menu2">Sub 1</a><hr>
                                <a href="#" class="" data-parent="#menu2">Sub 2</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>            
    </div>
</div>


