<div class="container-fluid">
    <div class="row">
      <div class="col-12 hot-sales">
          <p class="hotsalehead">HOT SALES</p>
            <a href="" *ngFor="let slide of rows" [routerLink]="['/productdetailspage', slide.url_path]">
              <div class="row d-flex">
                  <div class="col-4 div-img">
                      <img  src={{imageurl}}{{slide.thumbnail}} alt="gallery" class="img-fluid"> 
                  </div>
                  <div class="col-8 div-head">
                        <div class="d-flex">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <h4>{{slide.thumbnail_label}}</h4>
                        <p class="price" *ngIf="slide.sale=='no'" >{{slide.price | currency}}</p>
                        <p class="price" *ngIf="slide.sale=='yes' "><del> {{slide.price | currency}} </del> <b> {{slide.price-((slide.sale_percent/100)*slide.price) | currency }} </b> </p>
                     
                  </div>
              </div>
          </a>
      </div>
  </div>
  
  </div>