<app-header></app-header>
<div class="container-fluid">
   <div class="row justify-content-center align-self-center" style="background-color: #E9E9E9;">

    <div class="container" style="background-color: #E9E9E9; padding-top:6vw; padding-bottom: 6vw;padding-left: 3vw;padding-right: 3vw; ">
      <div class="row d-flex align-self-center ">
        <div class="col-3 d-flex flex-column">
           <div class="row">
              <div class="col-12">
                <app-cart-accordian></app-cart-accordian>
                <div style="margin-top: 4vw;">
                  <app-hot-sales></app-hot-sales>
                </div>
              </div>
           </div>
        </div>
        <div class="col-9" style="padding: 0;margin: 0" style="margin:0;padding: 0">
          <div class="container-fluid">
            <app-cart-items></app-cart-items>
          </div>          
        </div>
      </div>
    </div>

    </div>
</div>
<div id="displaycontent" class="container-fluid">
	<app-related-products></app-related-products>	
</div>

