<div class="container-fluid about-setra">
        <!--first row-->
    	<div class="row d-flex flex-column justify-content-center align-items-center">
    		<div class="col-9">
    			<P>HOME ABOUTUS</P>
    			<hr/>
    		</div>
    		<!--second row-->
            <div class="col-9 ">
        	   <h1>SWORDS KINGDOM</h1>
        	   <h3>ABOUT<span> SWORDS </span>kINGDOM</h3>
            </div>
    	    <!--third row-->
    	    <div class="col-6" style="padding:3vw 0vw;">
        	    <figure>
                    <img src="assets/images/about-setra-weapon.png" alt="ABOUT SETRA" style="width:100%;">
                </figure>
            </div>
            <!--fourth row-->
            <div class="col-6">
            	<h2>LARGEST STORE WITH TOTAL <span>115 LOCATIONS</span> IN THE WORLD</h2> <br>
            	<p style="margin-top: 2vw;">Loram ipsum dollar amet,consectetuer adipiscing elit,sed diam nonummy nibh evismod tincidunt ut loareet dolare magna aliqquam erat volupot.Ut wisi enim ad minim veniam, quis nostrud exercitation ullamcorper suscipir loborris nisl ur aliquip ex ea commodo consequat</p>
            </div>
            <!--fifth row-->
            <div class="col-2" style="padding:2vw 0vw;">
        	    <figure>
                    <img src="assets/images/about-setra-sig.png" alt=" ABOUT SETRA" style="width:60%">
                </figure>
                <figcaption>
                    <h2 style="font-size: 0.9vw">JOHNMC.KAIL</h2>
                    <p> <span>SWORDSKINGDOM.OWNER</span></p>
                </figcaption>
            </div>
    	</div>
    </div>
