.reviews{
    background-color:  #F8F8F8;
    padding: 4vw;
}
.review-box{
    background-color: white;
    padding: 1vw;  
    margin-top: 1.5vw;
}
.client-review{
    border: .1vw solid black;
    width: inherit;
}
.client-review img{
    width: 7vw;
    height: 6vw;
    margin: 1vw;
}
.client-review h4{
    font-size: 1vw;
    color: black;
    margin-top: 1vw;
}
.client-review small{
    color: #a81000;
}
.client-review p {
    font-size: .8vw;
    margin: 0;
    margin-right: 2vw;
    color: black;
}
.client-review h5{
    margin-top: .5vw;
    margin-bottom: 1vw;
    font-size: 1vw;
    word-wrap: break-word;
}
.write-review form{
    line-height: 0;
    margin-top: 4vw;
}
.write-review{
    margin-top: 4vw;
    background-color: white;
    padding: 2vw;
}
.write-review h1{
    font-size: 1.2vw;
    color: grey;
}
.write-review i{
    font-size: 1.5vw;
}
.write-review p{
    font-size: 1vw;
    margin: 0;
    margin-right: 2vw;
    color: gray;
}
.write-review label{
    font-style: none;
	font-size: 0.7vw;
	color: rgba(51,51,51,255);
	font-family: 'Lato';
    font-weight: bold;
    margin-bottom: 0;
}
.write-review input{
	border-radius: 1.2vw;
    height: 2.5vw;
    padding: .5vw;
    font-size: 1vw;
    font-family: 'Lato';
    color: rgba(128,128,128,255);
    margin-top: .5vw;
}
.write-review input:focus{
    box-shadow: none;
    border: .1vw solid #a81000;
}
#comment{
    height: 7vw;
}
.alert{
    margin-top: .2vw;
}
.large{
    font-size: 1.2vw;
    color: gray;
}
.red{
    color: red;
    margin-left: .3vw;
    font-size: 1.2vw;
}
.error{
  color: red;
  font-size: .85vw;
}
.form-control.is-invalid{
  border-color: red;
  background-image: none;
  box-shadow: none;
}
.form-group{
  padding: 0vw .2vw .2vw .2vw;
  margin-bottom: 1.6vw;
}
.reviewbtn{
    background-color: #a81000;
    color: white;
    font-size: 1vw;
    border: none;
    cursor: pointer;
    padding: .3vw .7vw;
}
.reviewbtn:hover{
    color:  #a81000;
    background-color: white;
}