<div class="container-fluid " style="background-color:#a81000;padding: 2vw;text-align: center;">
    <div class="row">
      <div class="col-5 div-left" style="text-align: center;justify-content: center;">
        
        <h2>SUBSCRIBE TO NEW LETTER</h2>
        <p>Lorem  ipsum dollar sit amet,consetetur adipiscing <br>elit,sed do eiusmod tempoltrices gravida</p>
  
      </div>
      <div class="col-6 div-right" style="text-align: center;justify-content: center;">
        <form style="margin: 0" name="myForm">
            <input placeholder="Enter your email address..." type="email" id="subscriberemail"  />
            <button  class="action" href="javascript:void(0)" (click)="addnewslettersubscriber()">SEND</button>
        </form>
      </div>
    </div>
  </div>

  
  
  