/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css" */

/* .label{
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Lato' ;
    color:rgba(51,51,51,255);
    font-size: .8vw;
    padding: 1px;
    margin: 1px;
}
.price{
    text-decoration: none;
    text-transform: uppercase;
    font-family:"Droid Serif" ;
    color:rgba(153,153,153,255);
    font-size: 1vw;
    margin-top: .7vw;
    margin-bottom: .7vw;
    font-weight: 400;
}*/
b{
    font-size: 1.3vw;
    color: #a81000;
} 
img{
    border: 0px solid transparent;
}
.shipping{
 /* color: black; */
 color:  #01411C ;
 font-weight: bold;
 font-size: .8vw;
}
