<div class="container-fluid" style="padding: 0;margin: 0">
  <div class="row">
     <div class="col-12" >
        <div class="col-12" style="height: 100%;background-color: #E9E9E9;">
          
           <div class="d-flex flex-column justify-content-center align-items-center blog " >
             
            <h3>OUR INSTAGRAM</h3>

            <div class="container">
               <div class="row d-flex justify-content-center align-items-center">
                 <div class="col-12" style="padding-right: 3vw;padding-left: 3vw;">
                     <swiper [config]="config" class="swiper-container">
                         <div class="swiper-wrapper">
                             <div class="swiper-slide" *ngFor="let slide of rows" >
                                 <a href={{slide.link}}>
                                 <img src={{imageurl}}{{slide.imagepath}}  alt="div.png" style="width: 100%;height: 100%" class="img-fluid">
                                 </a>
                                 <div class="blog-layout">
                                     <h1>26 <br> JUNE</h1>
                                     <div>
                                       <h2>{{slide.title}}</h2>
                                       <p>{{slide.subtitle}}</p>
                                     </div>
                                 </div>
                             </div>
                        </div>
                     
                   </swiper>
               </div>             
             </div>
             <div class="row justify-content-center align-items-center">
                 <div class="swiper-pagination"></div>
             </div>               
           </div> 
           



        </div>
     </div>
  </div>
</div>











