*{
	padding: 0;
	margin: 0;
}
.ng5-slider::ng-deep .ng5-slider-bubble{
	font-size: 1vw;
	padding: .5vw 0vw;
	bottom: .5vw;	
}
.ng5-slider::ng-deep .ng5-slider-bar{
 background-color: #DDDDDD;
 height:.38vw;
}
.ng5-slider::ng-deep .ng5-slider-selection {
  background: #a81000;
}
.ng5-slider::ng-deep .ng5-slider-pointer{
	background-color: #a81000;
}
.ng5-slider::ng-deep .ng5-slider-pointer {
 width: 1vw;
 height: 1vw;
 top: -.35vw; /* Changed from -14px */
 border: .25vw solid white;
    outline: none;
  }
  .ng5-slider::ng-deep .ng5-slider-pointer:after {
    display: none;
  }
.slider-head {
	background-color: white;
	font-weight: bold;
	font-size: 1vw;
	color: black;
	padding: .4vw;
	margin-top: 2vw;
	white-space: nowrap;
}
.range-slider{
	background-color: #F8F8F8;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top:1.5vw;
	padding-bottom: 1.5vw;
}
.slider-footer{
	background-color:#333333;
	color: white;
	font-weight: bold;
	font-size: 1vw;
	text-align: center;
	padding: .4vw;
	white-space: nowrap;
}
.slider-footer:active{
	background-color: white;
	color: #333333;
}
@media only screen and (max-width: 800px) {
	.divlineheight{
	  line-height: 0;
	}
	.ng5-slider::ng-deep .ng5-slider-bubble{
		font-size: 1vw;
		padding: 1vw 0vw;
		bottom: 1vw;	
	}
	
  }