*{
    padding: 0;
    margin: 0;
}
.col{
 margin-right: 1vw;
}
h1{
  font-family:'Lato' ;
  font-family: bold;
  font-size: 1.5vw;
  color:#a81000;
}
.product-heading{
  text-align: center;
  font-size: 1vw;
  font-family: bold;
  color: black;
}
.product-detail{
  text-align: center;
  font-size: .9vw;
  color: #a81000 ;
}
.cart-img{
    width: 100%;
    height: 4vw;
}
.cart-cancelbtndiv{
  position: absolute;
  top: -1.1vw;
  left: -.4vw;
  outline: none;
  border: none;
  background-color: transparent;
}
.cart-cancelbtn{
 outline: none;
 color: black;
 font-size: 1.2vw;
 font-weight: bold;
 border: none;
 background-color: transparent;
}
.cart-cancelbtn:hover{
  color:#a81000;
}
.spinner-input{
    width: 100%;
    display: flex;
}
.num{
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    margin-right: 0;
    margin-left: 0;
    width: 80%;
    border: .1vw solid #E1E1E1;  
    font-size: 1vw;
    text-align: left;
    font-weight: bold;
    background-color: #F9F9F9;
    padding: .3vw .6vw;
    color: #a81000;
  }
  .plus{
  margin-right: 0;
  margin-left: 0;
  outline: red;
  border: .1vw solid #E1E1E1;
  padding: .3vw .6vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  background-color: #F9F9F9;
  border-left: none;
  color: #a81000;  
}
  .minus{
  padding: .3vw .6vw;
  margin-right: 0;
  margin-left: 0;
  border: .1vw solid #E1E1E1;
  border-right: none;
  outline: red;
  font-size: 1vw;
  text-align: center;
  font-weight: bold;
  background-color: #F9F9F9;
  color: #a81000;
  }
  .plus:focus, .plus:active, .minus:focus, .minus:active{
    background-color: #0074a9;
    outline: none;
    background-color: transparent;
    box-shadow: .5vw .5vw .5vw .5vw #E9E9E9;
    text-decoration: none;
  }
  .cursor_hover{
    cursor: hand;
    cursor: pointer;
  }
  .change_qty{
      display:inline-block;
      color:#fff;
      background:#2e748e;
      width:22px;
      height:22px;
      border-radius:50%;
      font-weight:900;
      line-height:22px;
  }
 .checkout-btn{
   margin-top: 2vw;
   outline: none;
   border: none;
   font-size: 1.2vw;
   font-family: bold;
   color: white;
   background-color:#a81000;
 }
 .checkout-btn:hover{
   color: #a81000;
   background-color: white;
 }
 @media only screen and (max-width: 800px) {
  .cart-img{
    width: 6vw;
    height: 6vw;
}
  
}